.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightgrey;
  color: white !important;
  text-align: center;
  padding: 10px 0;
}

/* Für alle Links, die in Buttons liegen */
.btn-link {
  color: black;
  text-decoration: none;
}
