<!-- Form für das Erstellen einer Tour -->
<form action="/tour-erstellen" method="POST">
    <input type="text" name="name" placeholder="Tourname" />
    <input type="text" name="beschreibung" placeholder="Beschreibung" />
    <input type="submit" value="Tour erstellen" />
</form>

