   <div class="container mt-5">
        <h1 class="text-center">Stadttouren Online</h1>
        <p class="text-center">Entdecken Sie die Features unserer App.</p>

        <div class="row mt-4">
            <div class="col-md-4">
                <h2>Kostenlose Touren</h2>
                <p>Unsere App ist völlig kostenlos und bleibt es auch. Lassen Sie sich von unserer Anwendung entspannt führen, und entdecken Sie ganz neue Seiten an ihrer Stadt. </p>
            </div>
            <div class="col-md-4">
                <h2>Selbst Planen</h2>
                <p>Mit einfachen Mausklicks können selbst umfangreiche Touren geplant werden und anderen Nutzern vorgeschlagen werden.</p>
            </div>
            <div class="col-md-4">
                <h2>Einfache Navigation</h2>
                <p>Dank GPS-Integration und unserer smartphone-freundlichen App, ist die Navigation kinderleicht.</p>
            </div>
        </div>

    
    </div>

    <div class="container">
          <div class="row mt-4">
            <div class="col-md-2 text-center">
              <p>Du hast schon einen Account?</p>
                <a href="/login" class="btn btn-primary">Anmelden</a>
            </div>
            <div class="col-md-4 text-center">
              <p>Neu hier? Kein Problem!</p>
                <a href="/registrieren" class="btn btn-secondary">Registrieren</a>
            </div>
        </div>
    </div>