<h1>Hallo, {{benutzername}}</h1>


<!-- Hier sollen die eigenen Touren vom Nutzer gerendert werden --> 




</p><a href="/logout">Logout</a>

<!-- Button und Zielcontainer für das Formular -->
<div x-data="{ showForm: false }">
    <button x-show="!showForm" @click="showForm = true">Account löschen</button>
    
        <!-- Formular, das an eine andere Stelle im DOM teleportiert wird -->
    <template x-if="showForm">
        <form x-teleport="#form-ziel" action="/account-loeschen" method="post">
            <input type="text" name="benutzername" placeholder="Benutzername" />
            <input type="submit" value="Account löschen" />
            
        </form>
        
    </template>
</div>



<div id="form-ziel"></div>

