<p>Eigene Tour erstellen</p>
{{> tour-erstellen }}


<h2>Verfügbare Touren</h2>

<ul>
    {{#each touren}}
    <li>
        <a href="/touren/{{this.name}}">{{this.name}}</a> von <a href="/@{{this.benutzername}}">{{this.benutzername}}</a>
    </li>
    {{/each}}
</ul>
