# Für production: "stadttouren.online". Für lokal: "http://localhost"  
http://localhost {
  # Versuch, den OSRM Server über domain/path verfügbar zu machen 
  reverse_proxy /route* osrm:5000

  reverse_proxy app:3000
}
